<header class="site-header">
  <div class="container header-inner">
    <a routerLink="/" class="brand">
      <img src="assets/logo.svg" alt="Logo" class="logo" />
      <span>Alex Galán </span>
    </a>

    <nav class="nav">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Temas /Grupos tarjetas</a>
      <a routerLink="/cursos" routerLinkActive="active">Administración</a>
      <a routerLink="/contacto" routerLinkActive="active">Miau</a>
    </nav>

    <!-- CTA opcional -->
    <!-- <a routerLink="/inscripcion" class="btn btn-primary hide-sm">Inscribirme</a> -->
  </div>
</header>
